{@include "home/header"}
<link rel="stylesheet" href="{@$url}/static/css/motion.css">
<article class="main-content page-page">
    <div class="motion-box clear">
        <h2>Event Task Time <span>{#str}</span> <a class="fr" id="times"> Past </a></h2>

        <div class="choiceShow">
            <ul class="clear" id="today-tab">
                {foreach $data(key,value)}
                    <li class="<?php if($value['today'] == $value['day']) echo 'active';?>">
                        <p>{@value.week}</p>
                        <span>
                            <?php if(!empty($value['data'])) { ?>
                            <i class="tip"></i>
                            <?php } ?>
                            {@value.day}
                        </span>
                    </li>
                {/foreach}
            </ul>
        </div>
        <div class="motion-list" id="motion">
            <?php foreach ($this->assign['data'] as $key=>$value) { ?>
            <div class="today <?php if($value['today'] == $value['day']) echo 'active';?>">
                <?php if(!empty($value['data'])){ ?>
                    <?php foreach($value['data'] as $val) {?>
                       <p class="event_task_item">
                           <time><?php echo date('H:i',$val['start_at']);?> - <?php echo date('H:i',$val['end_at']);?></time>
                            <span class="<?php echo $this->assign['className'][$val['level']];?>"></span>
                           <?php echo $val['title'];?>

                       </p>
                    <?php } ?>
                <?php }else{ ?>
                   <div class="motion-empty">
                       『  {@value.week}  』
                   </div>
                <?php } ?>
            </div>
            <?php } ?>
        </div>

    </div>

</article>
<script>
    $(function(){
        $("#today-tab li").on("click",function(){
            var index=$(this).index();
            $(this).parent().parent().next().find('.today').removeClass("active").eq(index).addClass("active");
            $(this).addClass("active").siblings().removeClass("active");
        });

        <?php if(!$this->assign['active']){ ?>
            $("#today-tab li:first-child").addClass("active").siblings().removeClass("active");
            $(".today:first-child").addClass("active").siblings().removeClass("active");
        <?php } ?>

        $('#times').click(function () {
            layer.open({content: '{#totalweek}'});
        });

    })
</script>
<style>
    .bg-danger{
        color: #f1556c!important;
    }
    .bg-success{
        color: #25b343!important;
    }
    .bg-primary{
        color: #00acc1!important;
    }
    .bg-info{
        color: #4b88e4!important;
    }
    .bg-dark{
        color: #323a46!important;
    }
    .bg-warning{
        color: #f7b84b!important;
    }
</style>
{@include "home/footer"}