{@include "home/header"}
<article class="main-content index-page photo-show">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <h1 class="post-title" itemprop="name headline"> {$data.title} </h1>
        </h1>
        <div class="post-data">
            <time datetime="2017-02-25" itemprop="datePublished">发布于 {$data.create_time}</time>
            / <a href="/photo/cat/{$data.cat_id}"> {$data.cat_title} </a>
            / 浏览数 {$data.view}
        </div>
    </div>

    <div id="post-content" class="post-content photo-content">
        <div class="photo-img">
            <img src="{@$qiniu_url}{$data.thumb}" alt="{$data.cat_title}">
            <hr>
            {if $item}
            {foreach $item(key,value)}
            <h5> {@value.title} </h5>
            <img src="{@$qiniu_url}{@value.images}" alt="{@value.title}">
            {/foreach}
            {else}
            <div class="empty"> Empty Photo </div>
            {/if}


        </div>
    </div>
</article>



{@include "home/footer"}