<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> dengyun Blog Admin </title>
    <link rel="stylesheet" href="{@$url}/static/admin/css/bootstrap.min.css">
    <link href="{@$url}/static/admin/css/sb-admin.css" rel="stylesheet">
    <link href="{@$url}/static/admin/css/toastr.min.css" rel="stylesheet">
    <link href="{@$url}/static/admin/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{@$url}/static/admin/editor/css/editormd.css" rel="stylesheet">
    <script src="{@$url}/static/admin/js/jquery-1.11.0.js"></script>
    <script src="{@$url}/static/admin/js/bootstrap.min.js"></script>
    <script src="{@$url}/static/admin/js/toastr.min.js"></script>
    <script src="{@$url}/static/admin/editor/editormd.js"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/admin"> <i class="fa fa-fw fa-home"></i></a>
        </div>
        <ul class="nav navbar-left top-nav pull-right">
            <li><a href="/admin/article"><i class="fa fa-fw fa-paper-plane"></i> 文章 </a></li>
            <li><a href="/admin/photo"><i class="fa fa-fw fa-camera"></i> 摄影 </a></li>
            <li><a href="/admin/notebook"><i class="fa fa-fw fa-book"></i> 笔记本 </a></li>
            <li><a href="/admin/task"><i class="fa fa-fw fa-tasks"></i> 任务 </a></li>
            <li><a href="/admin/diary"><i class="fa fa-fw fa-edit"></i> 日志 </a></li>
            <li><a href="/admin/schedule"><i class="fa fa-fw fa-calendar"></i> 日程 </a></li>

        </ul>
    </nav>
    <div id="page-wrapper">