<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
     <span class="pull-right okr-cancel" data-id="{$okr.id}" data-toggle="okr-cancel"><i class="glyphicon glyphicon-remove-circle"></i></span>
    <h4 class="modal-title"> 目标：{$okr.title}
    <p> 开始时间： <?php echo date('Y-m-d',$this->assign['okr']['start_at']);?> 结束时间：<?php echo date('Y-m-d',$this->assign['okr']['end_at']);?> </p>
    </h4>
</div>
<div class="row" style="padding:15px;">
    <div class="col-sm-5">
        <div class="okr-list">
            <h4> 关键结果 </h4>
            <div class="okr-item-list" id="okr-item-list"></div>
            <div class="okr-list-bottom">
                <form name="post-okr-item" method="post">
                <span class="control">
                    <input type="hidden" name="okr_id" value="{$okr.id}">
                    <input type="hidden" name="id" value="">
                    <input class="form-control" name="content" type="text" required="required" placeholder="任务标题">
                </span>
                <span style='margin-left:8px;'><button type="submit" class="btn btn-primary pull-right"> 提交 </button></span>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-7" >
        <div class="okr-list-detail">
            <input type="hidden" name="okr_id" value="{$okr.id}">
            <form method="post" name="okr-item-detail">
                <input type="hidden" name="item_id" value="">
                <h4> 正常进度
                    <select name="normal_score" class="pull-right">
                        <option value="">请选择</option>
                        <option value="0">0分</option>
                        <option value="0.1">0.1分</option>
                        <option value="0.2">0.2分</option>
                        <option value="0.3">0.3分</option>
                        <option value="0.4">0.4分</option>
                        <option value="0.5">0.5分</option>
                        <option value="0.6">0.6分</option>
                        <option value="0.7">0.7分</option>
                        <option value="0.8">0.8分</option>
                        <option value="0.9">0.9分</option>
                        <option value="1">1分</option>
                    </select>
                </h4>
                <textarea class="form-control" name="normal_details" placeholder="备注" rows="2"></textarea>

                <h4> 落后于计划或者修改过的内容
                    <select name="backward_score" class="pull-right">
                        <option value="">请选择</option>
                        <option value="0">0分</option>
                        <option value="0.1">0.1分</option>
                        <option value="0.2">0.2分</option>
                        <option value="0.3">0.3分</option>
                        <option value="0.4">0.4分</option>
                        <option value="0.5">0.5分</option>
                        <option value="0.6">0.6分</option>
                        <option value="0.7">0.7分</option>
                        <option value="0.8">0.8分</option>
                        <option value="0.9">0.9分</option>
                        <option value="1">1分</option>
                    </select>
                </h4>
                <textarea class="form-control" name="backward_details" placeholder="备注" rows="2"></textarea>
                <h4> 已经完成
                    <select name="complete_score" class="pull-right">
                        <option value="">请选择</option>
                        <option value="0">0分</option>
                        <option value="0.1">0.1分</option>
                        <option value="0.2">0.2分</option>
                        <option value="0.3">0.3分</option>
                        <option value="0.4">0.4分</option>
                        <option value="0.5">0.5分</option>
                        <option value="0.6">0.6分</option>
                        <option value="0.7">0.7分</option>
                        <option value="0.8">0.8分</option>
                        <option value="0.9">0.9分</option>
                        <option value="1">1分</option>
                    </select>
                </h4>
                <textarea class="form-control" name="complete_details" placeholder="备注" rows="2"></textarea>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block "> 提交 </button>

        </div>
<script>
    getOkrTaskList('{$okr.id}');
</script>

